body {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	background: #073B4C;
	padding: 50px;
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 5px;
	font-size: 80px;
}

button.submit-button{
	background-color: #073B4C;
}

button.submit-button:hover {
	background-color: #0B5F7B;
}

button.submit-button:focus {
	background-color: #073B4C;
}

div.sub-line {
	text-align: center;
	color: #073B4C;
}

h4 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	color: #073B4C;
}

.start-dinner {
	padding: 120px;
	background-image: url("../images/dinner-img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	text-align: center;
	letter-spacing: 5px;
	color: white;
	font-size: 80px;
	font-family: 'Abril Fatface', cursive;
}

.start-movie {
	padding: 120px;
	background-image: url("../images/movies/mollie-sivaram-yubCnXAA3H8-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	text-align: center;
	letter-spacing: 5px;
	color: white;
	font-size: 80px;
	font-family: 'Abril Fatface', cursive;
}



.card-title {
	color:white;
	text-align: center;
	font-family: 'Archivo Black', sans-serif;

}
 
.card-content {
	background-color: #ecb887;
	color: white;
	text-align: center;
	position:relative;
}

.movieSummary {
	top: 50%;
	text-align: center;

}

footer img {
	width: 150px;
}

footer {
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	background-color: #073B4C;
	color: white;
}
.footer-left {
	display: block;
	text-align: left;
	vertical-align: top;
}

.footer-center {
	text-align: center;
	display: block;
	vertical-align: top;
}
 p a {
	text-decoration: none;
	color: white;
}

.cardContainer {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	display: flex;
	justify-content: center;
}

.cardContainer .card.hidden {
	display: none;
}
