body {
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	background: #073B4C;
	padding: 50px;
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 5px;
	font-size: 80px;
}

button.submit-button{
	background-color: #073B4C;
}

button.submit-button:hover {
	background-color: #0B5F7B;
}

button.submit-button:focus {
	background-color: #073B4C;
}

div.sub-line {
	text-align: center;
	color: #073B4C;
}

h4, h6 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	color: #073B4C;
}

.start-dinner {
	padding: 120px;
	background-image: url("../images/dinner-img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	text-align: center;
	letter-spacing: 5px;
	color: white;
	font-size: 80px;
	font-family: 'Abril Fatface', cursive;
}

.start-movie {
	padding: 120px;
	background-image: url("../images/movies/mollie-sivaram-yubCnXAA3H8-unsplash.jpg");
	background-position: center center;
	background-size: cover;
	text-align: center;
	letter-spacing: 5px;
	color: white;
	font-size: 80px;
	font-family: 'Abril Fatface', cursive;
}



.card-title {
	color:white;
	text-align: center;
	font-family: 'Archivo Black', sans-serif;

}
 
.card-content {
	background-color: #ecb887;
	color: white;
	text-align: center;
	position:relative;
}
#movieDisplay .card-stacked, 
#movieDisplay .card-image, 
#recipeDisplay .card-stacked, 
#recipeDisplay .card-image  {
	padding: 5px;
	border-radius: 10px;
	border: 5px;
	margin: 5px;
}

.movieSummary {
	top: 50%;
	text-align: center;

}

#movieHistory .card, #recipeHistory .card   {
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	
}

#movieHistory .card:hover {
	box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
	transform: translate3d(0px, -1px, 0px);
  }

#recipeHistory .card:hover{
	box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
	transform: translate3d(0px, -1px, 0px);
  }

footer img {
	width: 150px;
}

footer {
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	background-color: #073B4C;
	color: white;
}
.footer-left {
	display: block;
	text-align: left;
}

.footer-center {
	text-align: center;
	display: block;
}
 p a {
	text-decoration: none;
	color: white;
}

.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }

.cardContainer {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.cardContainer .card.hidden {
	display: none;
}
